---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import starpodConfig from '../../starpod.config';
import LargePlatforms from '../components/LargePlatforms.astro';

const { hosts } = starpodConfig;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/img/*.{jpeg,jpg,png}'
);
---

<Layout title="About">
  <div class="relative z-10 px-8 lg:px-18">
    <h1
      class="mb-4 text-2xl font-bold text-light-text-heading lg:mb-6 lg:text-5xl dark:text-white"
    >
      About the show
    </h1>

    <p class="mb-5">{starpodConfig.description}</p>

    <LargePlatforms />

    <h2 class="section-heading-underlined mt-16 lg:mt-24">Meet the hosts</h2>

    <div class="mt-9 lg:mt-12">
      {
        hosts.map((host) => (
          <div class="mb-4 flex flex-col lg:flex-row">
            <Image
              class="mb-4 mr-6 h-12 w-12 rounded-lg lg:h-20 lg:w-20"
              height={80}
              src={images[`/src/img/${host.img}`]()}
              width={80}
              alt=""
            />

            <div>
              <h3 class="text-lg font-bold text-light-text-heading lg:text-2xl dark:text-white">
                {host.name}
              </h3>

              <p class="mt-2 lg:mt-3">{host.bio}</p>

              <div class="mt-6 flex gap-4">
                {host?.twitter && (
                  <a
                    class="animated-bottom-border font-bold text-light-text-heading after:mt-1 dark:text-white"
                    href={host.twitter}
                  >
                    Twitter
                  </a>
                )}

                {host?.github && (
                  <a
                    class="animated-bottom-border font-bold text-light-text-heading after:mt-1 dark:text-white"
                    href={host.github}
                  >
                    GitHub
                  </a>
                )}

                {host?.website && (
                  <a
                    class="animated-bottom-border font-bold text-light-text-heading after:mt-1 dark:text-white"
                    href={host.website}
                  >
                    Website
                  </a>
                )}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
