---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import AdPackageCard from '../components/AdPackageCard.astro';
import { getShowInfo } from '../lib/rss';
const show = await getShowInfo();
const title = `${show.title}`;

const countryFlags = import.meta.glob<{ default: ImageMetadata }>(
  '/src/img/countries/*.{jpeg,jpg,png}'
);

const countries = [
  { name: 'United States', flag: 'USA.png', percentage: 52 },
  { name: 'United Kingdom', flag: 'UK.png', percentage: 7 },
  { name: 'Canada', flag: 'Canada.png', percentage: 5 },
  { name: 'Germany', flag: 'Germany.png', percentage: 4 },
  { name: 'Australia', flag: 'Australia.png', percentage: 4 }
];
---

<Layout title="Sponsor">
  <div class="relative z-10 px-8 lg:px-18">
    <h1
      class="mb-4 text-2xl font-bold text-light-text-heading lg:mb-6 lg:text-5xl dark:text-white"
    >
      Sponsor {title}
    </h1>

    <p class="mb-5">
      Want to dazzle a crowd of tech nerds and whiskey connoisseurs? Throw your
      brand into the mix! Our listeners love innovation, good banter, and a
      stiff drink—so get in on the fun and make some magic happen. Stay classy,
      sponsor.
    </p>

    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
      <AdPackageCard
        bullets={['Host read ad', '10% off for 3+', '20% off for 6+']}
        heading="30 second ad"
        price="$500"
      />
      <AdPackageCard
        bullets={['Host read ad', '10% off for 3+', '20% off for 6+']}
        heading="60 second ad"
        price="$1,000"
      />
    </div>

    <h2
      class="mb-4 mt-16 text-2xl font-bold text-light-text-heading lg:mb-6 lg:mt-20 lg:text-5xl dark:text-white"
    >
      Your overall ad reach
    </h2>

    <h3 class="section-heading mb-8 mt-8 lg:mt-12">Listener Metrics</h3>

    <div class="grid grid-cols-1 lg:grid-cols-2">
      <figure>
        <span
          class="text-6xl font-bold tabular-nums text-light-text-heading dark:text-white"
        >
          1,000
        </span>

        <figcaption class="mt-2 font-bold">listeners per episode</figcaption>
      </figure>

      <figure>
        <span
          class="text-6xl font-bold tabular-nums text-light-text-heading dark:text-white"
        >
          15,000
        </span>

        <figcaption class="mt-2 font-bold">listeners per 90 days</figcaption>
      </figure>
    </div>

    <h3 class="section-heading mb-8 mt-8 lg:mt-12">
      Top Listeners By Location
    </h3>

    <div class="grid grid-cols-[minmax(0,max-content)_1fr_minmax(0,max-content)] gap-x-4 gap-y-12 border-b py-6 text-light-text-heading dark:border-dark-border dark:text-white">
    {
      countries.map((country) => {
        return (
            <div class="flex items-center">
              <Image
                class="mr-4 h-6 w-6 rounded-sm"
                height={24}
                src={countryFlags[`/src/img/countries/${country.flag}`]()}
                alt=""
                width={24}
              />
              {country.name}
            </div>

            <div class="relative flex items-center">
              <div class="absolute z-0 h-1 w-full rounded-lg bg-gray-200 outline-none dark:bg-gray-700" />
              <div
                class="absolute z-10 h-1 rounded-lg bg-gradient-to-r from-[#D8CCFF] to-[#8A63FF] dark:from-[#42C8F3] dark:to-[#B6EDFF]"
                style={`width:${country.percentage}%`}
              />
            </div>

            <div class="flex items-center justify-end">
              {country.percentage}%
            </div>
        );
      })
    }
    </div>
  </div>
</Layout>
