---
import { Image } from 'astro:assets';
import starpodConfig from '../../starpod.config';
import AppleIcon from '../svgs/apple.svg';
import OvercastIcon from '../svgs/overcast.svg';
import SpotifyIcon from '../svgs/spotify.svg';
import YouTubeIcon from '../svgs/youtube.svg';

const { platforms } = starpodConfig;
---

<h3 class="mb-6 mt-12 hidden text-xs font-bold uppercase lg:block">Listen</h3>

<div
  class="mt-16 flex items-center justify-center gap-6 lg:mt-0 lg:justify-start"
>
  {
    platforms?.spotify && (
      <a href={platforms.spotify}>
        <Image src={SpotifyIcon} alt="" />
      </a>
    )
  }
  {
    platforms?.apple && (
      <a href={platforms.apple}>
        <Image src={AppleIcon} alt="" />
      </a>
    )
  }
  {
    platforms?.overcast && (
      <a href={platforms.overcast}>
        <Image src={OvercastIcon} alt="" />
      </a>
    )
  }
  {
    platforms?.youtube && (
      <a href={platforms.youtube}>
        <Image src={YouTubeIcon} alt="" />
      </a>
    )
  }
</div>
