---
import starpodConfig from '../../starpod.config';
import AppleIcon from '../svgs/apple.svg?raw';
import OvercastIcon from '../svgs/overcast.svg?raw';
import SpotifyIcon from '../svgs/spotify.svg?raw';
import YouTubeIcon from '../svgs/youtube.svg?raw';

const { platforms } = starpodConfig;
---

<h3 class="mb-6 mt-12 hidden text-xs font-bold uppercase lg:block">Listen</h3>

<div
  class="mt-16 flex items-center justify-center gap-6 lg:mt-0 lg:justify-start"
>
  {
    platforms?.spotify && (
      <a href={platforms.spotify}>
        <Fragment set:html={SpotifyIcon} />
      </a>
    )
  }
  {
    platforms?.apple && (
      <a href={platforms.apple}>
        <Fragment set:html={AppleIcon} />
      </a>
    )
  }
  {
    platforms?.overcast && (
      <a href={platforms.overcast}>
        <Fragment set:html={OvercastIcon} />
      </a>
    )
  }
  {
    platforms?.youtube && (
      <a href={platforms.youtube}>
        <Fragment set:html={YouTubeIcon} />
      </a>
    )
  }
</div>
